server:
  port: 8001
#  servlet:
#    context-path: /user-service
spring:
  application:
    name: user-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        heart-beat-interval: 5000
        heart-beat-timeout: 15000
        namespace: dev
  jackson:
    #  格式化返回时间 yyyy-MM-dd HH:mm:ss
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  datasource:
    url: jdbc:mysql://localhost:3306/user_center?characterEncoding=UTF8&autoReconnect=true&serverTimezone=Asia/Shanghai
    username: root
    password: sunyuhang233
    driver-class-name: com.mysql.cj.jdbc.Driver
logging:
  level:
    top.hang.share.user.mapper: debug
rocketmq:
  name-server: 124.222.40.218:9876